.footerSection {
    height: 4rem;
    padding: 8px;
    background-color: var(--clr-black);
}
.footerSection footer {
    height: 100%;
}

@media (max-width: 360px){
    .footerSection p {
        font-size: 14px;
    }
}